
<% form_for(@quote, @episodio) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field :episodio_id %>
  <p>
    Quando? (00:00:00)<br />
    <%= f.text_field :time %>
  </p>
  <p>
    Frase<br />
    <%= f.text_field :quote %>
  </p>
  <p>
    Quem falou?<br />
    <%= f.text_field :autor %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>
