<div class="contentfull">
	<h1>Frases</h1>
	<%= render :partial => 'admin/admin_menu' %>

	<table>
	  <tr>
	    <th>Tempo</th>
		<th>Tempo</th>
		<th>Frase</th>
	    <th>Contribuidor</th>
	  </tr>

	<% @quotes.each do |quote| %>
	  <tr>
		<td><%= link_to quote.episodio.full_id, quote.episodio %></td>    
		<td><%=h quote.time %></td>
		<td><%=h quote.quote %> (<%=h quote.autor %>)</td>
	    <td><%= link_to quote.user.name, quote.user.profile_url %></td>

	    <td><%= link_to image_tag("icons/pencil.png"), edit_quote_path(quote) %></td>
	    <td><%= link_to image_tag("icons/delete.png"), quote, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>