<div class="contentfull">
<h2>Login</h2>
<ul class="float-right">
  <li>
    <%= link_to "Cadastre-se", new_user_path %>
  </li>
  <li>
    <%= link_to "Esqueceu a senha?", new_password_path %>
  </li>
</ul>

<% semantic_form_for :session, :url => session_path do |form| %>
  <% form.inputs do %>
    <%= form.input :email %>
    <%= form.input :password, :as => :password %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button "Sign in" %>
  <% end %>
<% end %>

</div>

