<% content_for :head do %>

	<%= javascript_include_tag 'jquery-spin' %>

	<script>
		$(document).ready(function(){
			$.spin.imageBasePath = '/images/spin1/';
			
			$('#track_timeh').spin({
				max: 2,
				min: 0
			});
			$('#track_timem').spin({
				max: 59,
				min: 0
			});
			$('#track_times').spin({
				max: 59,
				min: 0
			});
		});
	</script>

<% end %>

<% semantic_form_for(@track, @episodio) do |f| %>
  <%= f.error_messages %>

	<%= f.hidden_field :episodio_id %>
  <p>
    Quando? (00:00:00)<br />
	<%= f.text_field :timeh, :size => 4 %>
	<%= f.text_field :timem, :size => 4 %>
	<%= f.text_field :times, :size => 4 %>
  </p>
  <p>
    Música - Artista<br />
    <%= f.text_field :song %>
  </p>
  <p>
    Link<br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.submit op %>
  </p>


<% end %>