<% form_for(@track, @episodio) do |f| %>
  <%= f.error_messages %>

	<%= f.hidden_field :episodio_id %>
  <p>
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.label :song %><br />
    <%= f.text_field :song %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>

	

<% end %>