<div class="contentfull">
	<h1>Músicas</h1>
	<%= render :partial => 'admin/admin_menu' %>

	<table>
	  <tr>
	    <th>Ep.</th>
		<th>Tempo</th>
	    <th>Música</th>
	    <th>Contribuidor</th>
	  </tr>

	<% @tracks.each do |track| %>
	  <tr>
	    <td><%= link_to track.episodio.full_id, track.episodio %></td>
	    <td><%=h track.time %></td>
	    <td><%=h track.song %></td>
	    <td><%= link_to track.user.name, track.user.profile_url %></td>
	    <td><%= link_to image_tag("icons/pencil.png"), edit_track_path(track) %></td>
	    <td><%= link_to image_tag("icons/delete.png"), track, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>