<div class="contentfull">
<h1>A Equipe Nerdtrack</h1>
<p>

	O <strong>Nerdtrack</strong> conta com um grupo de pessoas que dedica parte de seu tempo para manter o projeto no ar e sempre melhorando, veja quem somos:
</p>
<ul class="equipe">
	<li>
		<strong>Danilo Martins</strong> - Idealizador do Projeto e responsável por conteúdo<br>
		Twitter: <%= link_to "@dofmartins", "http://twitter.com/dofsmartins" %> | <%= link_to "http://desde91.wordpress.com/", "http://desde91.wordpress.com/" %>
	</li>
	<li>
		<strong>Rafael Dohms</strong> - Jedi Developer e Gerente do Projeto<br>
		Twitter: <%= link_to "@rdohms", "http://twitter.com/rdohms" %> | <%= link_to "http://www.rafaeldohms.com.br/", "http://www.rafaeldohms.com.br/"%>
	</li>
	<li>
		<strong>Dine (Ariadne Gomes)</strong> - Front-End Ninja<br>
		Twitter: <%= link_to "@dine", "http://twitter.com/dine" %> | <%= link_to "http://dine.tk/"%>
	</li>
</ul>
<%= render :partial => 'doar' %>
</div>
