	<p>
		<%= link_to "Estatísticas", :controller => 'admin', :action => 'stats' %> | 
		<%= link_to "Novo Epísodio", new_episodio_path %> | 
		<%= link_to "Músicas", tracks_path %> | 
		<%= link_to "Frases", quotes_path  %> | 
		<%= link_to "Usuários", users_path %>
	</p>