<div class="contentfull">
	<h1>Frases</h1>
	<%= render :partial => 'admin_menu' %>

	<table>
	  <tr>
	    <th>Frase</th>
	    <th>Tempo</th>
	    <th>Autor</th>
	  </tr>

	<% @quotes.each do |quote| %>
	  <tr>
	    <td><%=h quote.quote %></td>
	    <td><%=h quote.time %></td>
	    <td><%=h quote.autor %></td>
	    <td><%= link_to 'Show', quote %></td>
	    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
	    <td><%= link_to 'Destroy', quote, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>