<div class="contentfull">
	<h1>Usuários</h1>
	<%= render :partial => 'admin/admin_menu' %>

	<table class="users">
		<thead>
	  <tr>
	    <th>Name</th>
	    <th>Admin</th>

	  </tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td>
			<% unless (user.name.nil?) %>
					<%=h user.name %>
			<% else %> 
					<%=h user.email %>
			 <% end -%>
		</td>
		
	    <td>
			<% if (user.admin?) %>
					<%= link_to image_tag("icons/tick.png"), :action => "admintoggle", :id => user %>
			<% else %> 
					<%= link_to image_tag("icons/cross.png"), :action => "admintoggle", :id => user %>
			 <% end -%>
		</td>

	  </tr>
	<% end %>
	</tbody>
	</table>
</div>
