<%

#Parsing params 
xclass = nil if local_assigns[:xclass].nil? 
skin = nil if local_assigns[:skin].nil? 
buttons = nil if local_assigns[:buttons].nil? 
icon = nil if local_assigns[:icon].nil? 
collapsed = nil if local_assigns[:collapsed].nil? 
dock = nil if local_assigns[:dock].nil? 
width = nil if local_assigns[:width].nil? 
closed = nil if local_assigns[:closed].nil? 
title = nil if local_assigns[:title].nil? 
id = 'nil' if local_assigns[:id].nil? 

%>

<% content_for :head do %>

	<%= javascript_include_tag 'mbContainer.pack' %>
	<%= javascript_include_tag 'jquery.metadata' %>
	<%= javascript_include_tag 'ui.core.min' %>
	<%= javascript_include_tag 'ui.resizable.min' %>
	<%= javascript_include_tag 'ui.draggable.min' %>
	
	<%= stylesheet_link_tag 'mbContainer' %>

	<script>
		$(document).ready(function(){
			$(".containerPlus").buildContainers({
			containment:"document",
			elementsPath:"/elements/"
			});
			
			$('#<%= id %>').mb_switchFixedPosition();

		});
	</script>

<% end %>

<div id="<%= id %>" 
	class="containerPlus <%= xclass %> resizable {skin:'<%= skin %>', buttons:'<%= buttons %>' , icon:'<%= icon %>', collapsed:'<%= collapsed %>' , dock:'<%= dock %>', width:'<%= width %>', closed:'<%= closed %>'}"
>
	<div class="no">
		<div class="ne">
			<div class="n"><%= title %></div>
		</div>
		<div class="o">
			<div class="e">
				<div class="c">
					<div class="content"><%= yield %></div>
				</div>
			</div>
		</div>
		<div>
			<div class="so">
				<div class="se">
					<div class="s"></div>
				</div>
			</div>
		</div>
	</div>
</div>