<% content_for :title, " - Episódios" %>

<div class="sidebar">
<%= render :partial => 'blocks/info' %>
<%= render :partial => 'blocks/search' %>
<%= render(:layout => 'blocks/counter') %>
<%= render(:layout => 'blocks/topcontrib') %>
<%= render(:layout => 'blocks/github') %>
</div>

<div class="content">
	<div class="quickaccess">
		<% semantic_form_for :episodio, @episodio, :url => {:action => 'quick_load'}, :html => { :class => "quickload" } do |form| %>
			<% form.buttons do %>
			  <%= form.input :full_id, :label => "Episódio #", :input_html => { :size => "5" } %>
			  <%= form.commit_button "ir" %>
			<% end -%>
		<% end %>
	</div>
	<h1>Escolha um Episódio</h1>

	<ul class="episodios">
		<% @episodios.each do |episodio| %>
		<li>
			<%= link_to "<span>#"+episodio.numero.to_s+episodio.parte.to_s+ "</span> - " +episodio.titulo + ' <em class="ep_stats">('+ episodio.tracks.count(:all).to_s + 'músicas / '+ episodio.quotes.count(:all).to_s + ' frases)</em>', episodio %>
			
		</li>
		<% end %>
	</ul>
	
	<%= will_paginate @posts %>
</div>



<script type="text/javascript">
	$('ul.episodios li:odd').addClass("odd");
</script>