<div class="contentfull">
	<h1>Novo Episódio</h1>
	<%= render :partial => 'admin/admin_menu' %>

	<div class="formtastic">
	<% form_for(@episodio) do |f| %>
	  <%= f.error_messages %>

	<fieldset class="inputs">
	<ol>
	  <li class="string">
	    <%= f.label :numero %>
	    <%= f.text_field :numero %>
	  </li>
	  <li class="string">
	    <%= f.label :parte %>
	    <%= f.text_field :parte %>
	  </li>
	  <li class="string">
	    <%= f.label :titulo %>
	    <%= f.text_field :titulo %>
	  </li>
	  <li class="string">
	    <%= f.label :imagem %>
	    <%= f.text_field :imagem %>
	  </li>
	  <li class="text">
	    <%= f.label :desc %>
	    <%= f.text_area :desc %>
	  </li>
	  <li class="string">
	    <%= f.label :link %>
	    <%= f.text_field :link %>
	  </li>
	</ol>
	</fieldset>
	<fieldset class="buttons">
	  <ol>
		<li>
	    <%= f.submit 'Create' %>
	  </li>
	</ol>
	</fieldset>
	<% end %>
	</div>

	<%= link_to 'Back', episodios_path %>
</div>