<div class="contentfull">
<% content_for :title, " - Episódio #"+@episodio.to_param %>

<%= image_tag  @episodio.imagem, :class => "float-right" %>
<h1><strong class="number">#<%=h @episodio.numero %><%=h @episodio.parte %></strong> <%=h @episodio.titulo %></h1>
<h2>Informações</h2>
<div><%= simple_format(@episodio.desc) %></div>
<p class="ep-icons">
	<%= link_to image_tag("icons/attach.png", :alt => "Post Original", :title => "Post Original"), @episodio.link %>
	<%= link_to image_tag("icons/comment_add.png", :alt => "Adicionar Frase", :title => "Adicionar Frase"), 'javascript:;', :onclick => "$('#addquotes').mb_open(); $('#addquotes').mb_centerOnWindow()" %>
	<%= link_to image_tag("icons/music_add.png", :alt => "Adicionar Música", :title => "Adicionar Música"), 'javascript:;', :onclick => "$('#addtracks').mb_open(); $('#addtracks').mb_centerOnWindow()" %>
	<% if !current_user.nil? && current_user.admin? %>
		<%= link_to image_tag("icons/page_edit.png"), edit_episodio_path(@episodio) %>
	<% end -%>
</p>
</div>

<div class="contenthalf m10" id="frases">
<h2>Frases ilustres:</h2> 
<ul class="quote_list">
<% @episodio.quotes.each do |q| %>  
	<% unless q.quote.nil? %>
		<li>
			<div class="time">[<%=h q.time %>]</div>
			<div class="quote">
				<strong>"<%=h q.quote %>"</strong> (<%=h q.autor %>)
				<span class="edit_link"><%= show_edit_quote_link(q) %></span>
				<span class="edit_link"><%= show_del_quote_link(q) %></span>
			</div>
			<div class="credit"><em>Adicionado por:</em> 
				<%= link_to q.user.name, q.user.profile_url %>
			</div>
		</li>  
	<% end -%>
<% end %> 
</ul>

<% if signed_in? %>
	<% render(:layout => 'blocks/container',
		:locals => {:id => "addquotes",
					:xclass => "add_form",
					:skin => "white",
					:buttons => "c",
					:icon => "comment-edit-48x48.png",
					:collapsed => "false",
					:width => "350",
					:title => "Adicionar nova Frase",
					:closed => "true"
					}) do %>

		<%= render :partial => 'quotes/embed_new', :locals => {:op => "Cadastrar"} %>

	<% end %>
	
	<p>Adicione sua Frase: <%= link_to image_tag("icons/comment_add.png", :alt => "Adicionar Frase"), 'javascript:;', :onclick => "$('#addquotes').mb_open();$('#addquotes').mb_centerOnWindow(false)" %></p>

<% else %>
	
	<p><%= link_to "Cadastre-se", sign_up_path %> ou <%= link_to "faça login", sign_up_path %> para enviar sua frase</p>
	
<% end -%>
</div>

<div class="contenthalf" id="musicas">
<h2>Músicas:</h2> 
<ul class="song_list">
<% @episodio.tracks.each do |t| %> 
	<% unless t.song.nil? %>
		<li>
			<div class="time">[<%=h t.time %>]</div>
			<div class="song">
				<strong><%=h t.song %></strong>
				<% unless t.link.nil? || t.link.empty? %> (<a href="<%=h t.link %>"><%=h t.link %></a>)<% end -%>
				<span class="edit_link"><%= show_edit_track_link(t) %></span>
				<span class="edit_link"><%= show_del_track_link(t) %></span>
			</div>
			<div class="credit"><em>Adicionado por:</em> 
				<%= link_to t.user.name, t.user.profile_url %>
			</div>
			<!-- <div class="cmd">[contestar]</div> -->
		</li>
	<% end -%>
<% end %> 
</ul>

<% if signed_in? %>
	<% render(:layout => 'blocks/container',
		:locals => {:id => "addtracks",
					:xclass => "add_form" ,
					:skin => "white",
					:buttons => "c",
					:icon => "music.png",
					:collapsed => "false",
					:width => "350",
					:title => "Adicionar nova Música",
					:closed => "true"
					}) do %>

		<%= render :partial => 'tracks/embed_new', :locals => {:op => "Cadastrar"} %>

	<% end %>
	<p>Adicione sua música: <%= link_to image_tag("icons/music_add.png", :alt => "Adicionar Música"), 'javascript:;', :onclick => "$('#addtracks').mb_open();$('#addtracks').mb_centerOnWindow(false)" %></p>
<% else %>

	<p><%= link_to "Cadastre-se", sign_up_path %> ou <%= link_to "faça login", sign_up_path %> para enviar sua música</p>
		
<% end -%>
</div>

<div class="contentfull">
<%= link_to 'Voltar', episodios_path %>
</div>

<script type="text/javascript">
	var tallest = ($('#frases').height() > $('#musicas').height())? $('#frases').height(): $('#musicas').height();
	$('#frases, #musicas').css('height', tallest+'px')
</script>