<%= image_tag  @episodio.imagem, :class => "float-right" %>
<p class="ep-icons">
	<%= link_to image_tag("icons/attach.png", :alt => "Post Original"), @episodio.link %>
	<%= link_to image_tag("icons/comment_add.png", :alt => "Adicionar Frase"), 'javascript:;', :onclick => "$('#addquotes').mb_open(); $('#addquotes').mb_centerOnWindow()" %>
	<%= link_to image_tag("icons/music_add.png", :alt => "Adicionar Música"), 'javascript:;', :onclick => "$('#addtracks').mb_open(); $('#addtracks').mb_centerOnWindow()" %>
	<% if !current_user.nil? && current_user.admin? %>
		<%= link_to image_tag("icons/page_edit.png"), edit_episodio_path(@episodio) %>
	<% end -%>
</p>
<h1><b class="number">#<%=h @episodio.numero %></b> <%=h @episodio.titulo %></h1>

<h2>Informações</h2>
<div><%= simple_format(@episodio.desc) %></div>


<h2>Frases ilustres:</h2> 
<ul class="quote_list">
<% @episodio.quotes.each do |q| %>  
	<% unless q.quote.nil? %>
		<li>
			<div class="time">[<%=h q.time %>]</div>
			<div class="quote"><b>"<%=h q.quote %>"</b> (<%=h q.autor %>)</div>
			<div class="credit"><i>Adicionado por:</i> 
			<% if q.user.twitter.nil? %>
				<%=h q.user.name %>
			<% else %>
				<%= link_to q.user.name, "http://www.twitter.com/"+q.user.twitter %>
			<% end -%>
			</div>
		</li>  
	<% end -%>
<% end %> 
</ul>

<% if signed_in? %>
	<% render(:layout => 'blocks/container',
		:locals => {:id => "addquotes",
					:xclass => "add_form" ,
					:skin => "white",
					:buttons => "c",
					:icon => "comment-edit-48x48.png",
					:collapsed => "false",
					:width => "350",
					:title => "Adicionar nova Frase",
					:closed => "true"
					}) do %>

		<%= render 'quotes/embed_new' %>

	<% end %>
	
	<p>Adicione sua Frase: <%= link_to image_tag("icons/comment_add.png", :alt => "Adicionar Frase"), 'javascript:;', :onclick => "$('#addquotes').mb_open(); $('#addquotes').mb_centerOnWindow()" %></p>
	
<% else %>
	
	<p><%= link_to "Cadastre-se", sign_up_path %> ou <%= link_to "faça login", sign_up_path %> para enviar sua frase</p>
	
<% end -%>


<h2>Músicas:</h2> 
<ul class="song_list">
<% @episodio.tracks.each do |t| %> 
	<% unless t.song.nil? %>
		<li>
			<div class="time">[<%=h t.time %>]</div>
			<div class="song"><b>"<%=h t.song %>"</b><% unless t.link.nil? %> (<a href="<%=h t.link %>"><%=h t.link %></a>)<% end -%></div>
			<div class="credit"><i>Adicionado por:</i> 
				<% if t.user.twitter.nil? %>
					<%=h t.user.name %>
				<% else %>
					<%= link_to t.user.name, "http://www.twitter.com/"+t.user.twitter %>
				<% end -%>
			</div>
			<div class="cmd">[contestar]</div>
		</li>
	<% end -%>
<% end %> 
</ul>

<% if signed_in? %>
	<% render(:layout => 'blocks/container',
		:locals => {:id => "addtracks",
					:xclass => "add_form" ,
					:skin => "white",
					:buttons => "c",
					:icon => "browser.png",
					:collapsed => "false",
					:width => "350",
					:title => "Adicionar nova Música",
					:closed => "true"
					}) do %>

		<%= render 'tracks/embed_new' %>

	<% end %>
	<p>Adicione sua música: <%= link_to image_tag("icons/music_add.png", :alt => "Adicionar Música"), 'javascript:;', :onclick => "$('#addtracks').mb_open(); $('#addtracks').mb_centerOnWindow()" %></p>

<% else %>

	<p><%= link_to "Cadastre-se", sign_up_path %> ou <%= link_to "faça login", sign_up_path %> para enviar sua música</p>
		
<% end -%>


<%= link_to 'Voltar', episodios_path %>