<%= image_tag  @episodio.imagem, :class => "float-right" %>

<h1><b class="number">#<%=h @episodio.numero %></b> <%=h @episodio.titulo %></h1>
<p class="ep-icons">
	<a href="<%=h @episodio.link %>"><img src="/images/icons/attach.png" width="16" height="16" alt="Post Original"></a>
	<a href="javascript:;" onclick="$('#addquotes').mb_open(); $('#addquotes').mb_centerOnWindow()"><img src="/images/icons/comment_add.png" width="16" height="16" alt="Adicionar Frase"></a>
	<a href="javascript:;" onclick="$('#addtracks').mb_open(); $('#addtracks').mb_centerOnWindow()"><img src="/images/icons/music_add.png" width="16" height="16" alt="Adicionar Musica"></a>
	<% if current_user.admin? %><%= link_to image_tag("icons/page_edit.png"), edit_episodio_path(@episodio) %><% end -%>
</p>

<p class="ep-info">
  <b>Informações:</b><br/>
  <%= simple_format(@episodio.desc) %>
</p>


<h2>Frases ilustres:</h2> 
<ul class="quote_list">
<% @episodio.quotes.each do |q| %>  
	<% unless q.quote.nil? %>
		<li>
			<div class="time">[<%=h q.time %>]</div>
			<div class="quote"><b>"<%=h q.quote %>"</b> (<%=h q.autor %>)</div>
			<div class="credit"><i>Adicionado por:</i> <%=h q.user.name %></div>
		</li>  
	<% end -%>
<% end %> 
</ul>

<% if signed_in? %>
	<% render(:layout => 'blocks/container',
		:locals => {:id => "addquotes",
					:xclass => "add_form" ,
					:skin => "white",
					:buttons => "c",
					:icon => "comment-edit-48x48.png",
					:collapsed => "false",
					:width => "350",
					:title => "Adicionar nova Frase",
					:closed => "true"
					}) do %>

		<%= render 'quotes/embed_new' %>

	<% end %>
<% end -%>

<h2>Músicas:</h2> 
<ul class="song_list">
<% @episodio.tracks.each do |t| %> 
	<% unless t.song.nil? %>
		<li>
			<div class="time">[<%=h t.time %>]</div>
			<div class="song"><b>"<%=h t.song %>"</b><% unless t.link.nil? %> (<a href="<%=h t.link %>"><%=h t.link %></a>)<% end -%></div>
			<div class="credit"><i>Adicionado por:</i> <%=h t.user.name %></div>
			<div class="cmd">[contestar]</div>
		</li>
	<% end -%>
<% end %> 
</ul>

<% if signed_in? %>
	<% render(:layout => 'blocks/container',
		:locals => {:id => "addtracks",
					:xclass => "add_form" ,
					:skin => "white",
					:buttons => "c",
					:icon => "browser.png",
					:collapsed => "false",
					:width => "350",
					:title => "Adicionar nova Música",
					:closed => "true"
					}) do %>

		<%= render 'tracks/embed_new' %>

	<% end %>
<% end -%>


 |
<%= link_to 'Back', episodios_path %>