<% if !current_user.nil? && current_user.admin? %>
	<p class="footer_icons">
			<%= link_to image_tag("icons/page_add.png"), new_episodio_path %>
			<%= link_to image_tag("icons/group.png"), users_path %>
	</p>
<% end -%>
<p class="disclaimer">Este site não pertence ao Grupo Jovem Nerd, é um projeto independente criado por fãs do nerdcast.</p>
<p class="copy">&copy; 2009-2010 Danilo Martins &amp; Rafael Dohms</a> - Versão <%= NERDTRACK_VERSION %></p>
<p class="">
	<%= link_to "Sobre", sobre_path %> | 
	<%= link_to "Contato", contato_path %> | 
	<%= link_to "Blog", "http://blog.nerdtrack.com.br" %>
</p>
