<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />

<title>NerdTrack <%=h yield(:title) %></title>
<meta name="title" content="NerdTrack <%=h yield(:title) %>" />
<meta name="description" content="Compilação das músicas que tocam no NerdCast" />
<meta name="keywords" content="nerdcast, nerdtrack, nerd, podcast" />
<meta name="robots" content="index,follow" />
<meta name="revisit-after" content="7 days" />
<meta name="rating" content="general" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<%= stylesheet_link_tag 'scaffold' %>
<%= stylesheet_link_tag 'nerdtrack' %>
<%= stylesheet_link_tag 'formtastic' %>
<%= stylesheet_link_tag 'formtastic_changes' %>

<%= javascript_include_tag :defaults %>

<%= yield(:head) %>
</head>
<body>
<div id="top"></div>
<div id="header">
	<div id="headerimg" class="centerSite">
		<p><a href="/"><strong>NerdTrack - Compilação das músicas que tocam no NerdCast</strong></a></p>
		<div class="version_info"><%= NERDTRACK_VERSION %></div>
	</div>
	<div id="loginbar">
		<div class="centerSite">
			<ul id="nav">
				<li><%= link_to "Sobre", sobre_path %></li>
				<li><%= link_to "Contato", contato_path %></li>
				<li><%= link_to "Blog", "http://blog.nerdtrack.com.br" %></li>
			</ul>
			
			<% if signed_in? %>
			<div class="logado">
				Olá, <%=h current_user.name %> | <%= link_to "Meu Perfil", :controller => 'users', :action => 'edit' %> | <%= link_to 'Logout', sign_out_path %> 
			</div>
			<% else %>
				<ul class="botoes">
					<li><%= link_to "Cadastre-se", sign_up_path %></li>
					<li><%= link_to "Login", sign_in_path %></li>
				</ul>
			<% end -%>
		</div>
	</div>
</div>
<div id="container">
	<div class="centerSite">
		<% if flash[:notice] %>
			<script>
				setTimeout( function(){ $("#flash_msg").slideUp(); }, 3000);
			</script>
		<div id="flash_msg"><%= flash[:notice] %></div>
		<% end -%>
		<div id="content">
			<%= yield %>
		</div>
	</div>
</div>
<div id="footer">
	<%= render :partial => 'layouts/footer' %>
</div>
	
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12262642-1");
pageTracker._setDomainName(".nerdtrack.com.br");
pageTracker._trackPageview();
} catch(err) {}</script>
	
</body>
</html>

